@using AdsertiVS2017ClassLibrary
@model ComiteAgua.ViewModels.Catalogos.DescuentosViewModel
@{
    ViewBag.Title = "Descuentos Pronto Pago";
    ViewBag.UrlRetorno = Url.Action("Index", "Home");
}


<div class="row">
    <div class="col-md-12 text-right">
        <a href="@Url.Action("EditAddDescuento","Catalogos", new { urlRetorno = Url.Action("Descuentos", "Catalogos") })" class="btn btn-success btn-sm active" role="button" aria-pressed="true" title="Agregar"><i class="fa fa-plus" aria-hidden="true"></i> Agregar</a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6 offset-md-3">
        
        <table id="descuentos" class="table table-hover table-bordered table-sm" style="width: 100%">
            <thead class="thead-dark text-center">
            <tr>
                <th>Mes Año</th>
                <th>Porcentaje</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            @foreach (var item in Model.Descuentos)
            {
                <tr class="text-center">
                    <td>@AdsertiFunciones.FormatearTexto(item.MesAno.ToString("MMM yyyy"))</td>
                    <td>@item.MontoPoncentaje%</td>
                    <th>
                        <a href="@Url.Action("EditAddDescuento", "Catalogos" , new { descuentoId = item.DescuentoId, urlRetorno = (string)ViewContext.RouteData.Values["action"]})" title="Editar"><i class="fa fa-pencil fa-lg"></i></a>
                    </th>
                </tr>
            }

            </tbody>
            <tfoot class="text-center">
            <tr>
                <th>Mes Año</th>
                <th>Porcentaje</th>
                <th></th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>






